<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('项目下发列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId1">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>项目号：</label>
                            <input type="text" name="projectNumber"/>
                        </li>
                        <li>
                            <label>项目负责人：</label>
                            <input type="text" name="projectLeader"/>
                        </li>
                        <li>
                            <label>项目负责人等级：</label>
                            <select name="leaderLv" th:with="type=${@dict.getType('leader_lv')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>客户名称：</label>
                            <input type="text" name="customName"/>
                        </li>
                        <li>
                            <label>项目下发图纸节点：</label>
                            <input type="text" name="columnType"/>
                        </li>
                        <li>
                            <label>项目类型：</label>
                            <select name="projectType" th:with="type=${@dict.getType('project_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>项目完成节点：</label>
                            <input type="text" class="time-input" placeholder="请选择项目完成节点" name="compleNode"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar1" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:distri:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:distri:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:distri:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:distri:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table1"></table>
        </div>
    </div>
</div>
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId2">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>归档文件夹名称：</label>
                            <input type="text" name="archiveName"/>
                        </li>
                        <li>
                            <label>项目id：</label>
                            <input type="text" name="projectId"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar2" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:archive:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:archive:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:archive:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:archive:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table2"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:distri:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:distri:remove')}]];
    var leaderLvDatas = [[${@dict.getType('leader_lv')}]];
    var projectTypeDatas = [[${@dict.getType('project_type')}]];
    var prefix = ctx + "system/distri";

    $(function() {
        var options = {
            id: "bootstrap-table1",
            toolbar: "toolbar1",
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "项目下发",
            columns: [{
                checkbox: true
            },
                {
                    field: 'projectId',
                    title: '项目id',
                    visible: false
                },
                {
                    field: 'projectNumber',
                    title: '项目号'
                },
                {
                    field: 'projectLeader',
                    title: '项目负责人'
                },
                {
                    field: 'leaderLv',
                    title: '项目负责人等级',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(leaderLvDatas, value);
                    }
                },
                {
                    field: 'customName',
                    title: '客户名称'
                },
                {
                    field: 'environComment',
                    title: '使用环境描述'
                },
                {
                    field: 'columnType',
                    title: '项目下发图纸节点'
                },
                {
                    field: 'projectType',
                    title: '项目类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(projectTypeDatas, value);
                    }
                },
                {
                    field: 'compleNode',
                    title: '项目完成节点'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.projectId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.projectId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
        queryArchiveList();

        //定义每行数据row
        var replaceVideoRow = "";

        //通过鼠标单击将row放到自定义replaceVideoRow，然后就可以通过replaceVideoRow获取对象相应属
        //性的数据
        $('#bootstrap-table1').on('click-row.bs.table', function(e, row, element) {
            replaceVideoRow = row;
            pn = replaceVideoRow.projectNumber;
            if(pn != null && pn != ""){
                //$.table.search('formId2','bootstrap-table2');
                callBackendMethod(pn);
            }
        });

        //功能js，添加到script标签中即可
        //通过鼠标单击，加深某行颜色，并remove掉之前被选中行的颜色
        $("#bootstrap-table1").on('click', 'tr', function() {
            $("#bootstrap-table1").find("tbody").find("tr").each(function() {
                $(this).removeClass('color');
            });
            $(this).addClass('color');
        });

    });

    function queryArchiveList() {
        var editFlag = [[${@permission.hasPermi('system:archive:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:archive:remove')}]];
        var prefix = ctx + "system/archive";
            var options = {
                id: "bootstrap-table2",
                toolbar: "toolbar2",
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "项目归档",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'archiveId',
                        title: '归档文件夹id',
                        visible: false
                    },
                    {
                        field: 'archiveName',
                        title: '归档文件夹名称'
                    },
                    {
                        field: 'projectId',
                        title: '项目id'
                    },
                    {
                        field: 'createBy',
                        title: '创建者'
                    },
                    {
                        field: 'createTime',
                        title: '创建时间'
                    },
                    {
                        field: 'updateBy',
                        title: '更新者'
                    },
                    {
                        field: 'updateTime',
                        title: '更新时间'
                    },
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function(value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.archiveId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.archiveId + '\')"><i class="fa fa-remove"></i>删除</a>');
                            return actions.join('');
                        }
                    }]
            };
            $.table.init(options);
    }

    function callBackendMethod(pn) {
        // 构造请求参数（如果需要）
        var projectArchive = {
            projectNumber:"pn"
        };

        // 发送HTTP POST请求到后台接口
        $.ajax({
            type: 'POST',
            url: '/system/archive/list', // 替换成后台方法的URL
            contentType: 'application/json',
            data: JSON.stringify(projectArchive), // 将请求数据转为JSON字符串
            success: function(response) {
                // 处理后台响应
                console.log('后台响应:', response);
                // 在这里执行您的逻辑
            },
            error: function(error) {
                // 处理请求错误
                console.error('请求错误:', error);
            }
        });
    }

</script>
<style>
    .color{
        background-color: gray;
        color: white;
    }
</style>
</body>
</html>